@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');


html {
  scroll-behavior: smooth;
 }


 body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


.top {
width: 100%;
z-index: 9999;
  background: #8c00ff81;
  font-family: 'Work Sans', sans-serif;
  margin:0;
}
header {
  z-index: 9999;
    position:fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background: #8c00ffb6;
    color: #ffffff;
    font-weight: 900;
  }
  
header::after {
content: '';
display: table;
clear: both;
}

.logo {
float: left;
padding-left: 50px;
}

.nav {
  padding-right: 50px;
  float: right;
    margin-bottom: 25px;
    
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;

  position: relative;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

av a:hover {
  color: #ffffff;
}

.nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav a:hover::before {
  width: 100%;
}

.about{
  background-color: #8E00FF;
  
}

.about img{
  float:right;
  padding-left:200px;
  padding-right:150px;
  padding-top:250px;

}

#aboutme{
  color:#ffffff;
  font-family: 'Alata', sans-serif;
  font-size: 2.3em;
  padding-top: 150px;
  padding-left: 2em;
  margin:3em;
}


.containerAbout{

  display: flex;
  margin: auto;
  overflow: auto;
}


#info{
  color:#e2e2e2;
  font-family: 'Alata', sans-serif;
  padding-left: 3.7em;
  padding-bottom: 50px;
  font-size: 1.6em;
  margin:3em;
}

.firstWave{
  background: #b19cd9;
}
	

.firstWave > svg {
  display: block;
}

#projects {
  color:#222;
  font-family: 'Alata', sans-serif;
  font-size: 2em;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #ffffff;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
  border-radius: 25px;
  box-shadow: 0.5em 0.5em 0.5em #4a01862c;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 100%;
  width:100%;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
		  box-shadow:1px 1px -50px rgba(145, 92, 182, .4);
}
.card:nth-child(odd) img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
		  box-shadow:1px 1px -50px rgba(145, 92, 182, .4);
}



.btn {
  display: inline-block;
  background: #8E00FF;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 800;
  border-radius: 50px;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff;
  transition: all ease-in-out 300ms;
  box-shadow:2px 2px 20px rgba(145, 92, 182, 0.76);
}

@media(max-width:600px) {
  .card {
    display: block;
	  box-shadow:1px 1px -10px rgba(145, 92, 182, .4);
  }
}

.container{
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
  padding-left: 20px;

}


#contact{
  color:#000000;
  font-family: 'Alata', sans-serif;
  font-size: 2em;
  padding-top: 50px;
}


.containerContact{
  max-width: 1100px;
  display: flex;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.cardAbout {
  color:#000000;
  font-size: 2em;
  padding-top: 50px;
  overflow: hidden;
  grid-gap: 2rem;
  background: #ffffff;
  margin-bottom: 2rem;
  font-size: 1.3rem; 
  font-family: 'Alata', sans-serif;
  border-radius: 25px;
  box-shadow: 0.5em 0.5em 0.5em #4a01862c;
}
.cardAbout h3 {
  margin-bottom: 2rem;
  overflow: hidden;
}
.cardAbout > div {
  padding: 2rem;
  overflow: hidden;
}


  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100px;
  }

  .fa-linkedin {
    background: #0967af;
    color: white;
  }
  .fa-github {
    background: #000000;
    color: white;
  }
  .fa-envelope {
    background: #8E00FF;
    color: white;
  }

.fa-linkedin:hover {
    opacity: 0.7;
    transition: all ease-in-out 300ms;
    box-shadow:2px 2px 20px rgba(34, 126, 231, 0.76);
}
.fa-github:hover {
  opacity: 0.7;
  transition: all ease-in-out 300ms;
  box-shadow:2px 2px 20px rgba(37, 37, 37, 0.76);
}
.fa-envelope:hover {
  opacity: 0.7;
  transition: all ease-in-out 300ms;
  box-shadow:2px 2px 20px rgba(145, 92, 182, 0.76);
}


.wave-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wave-container > svg {
  display: block;
}
.footer {
  width: 100%; /* self explanatory */ /*The element is positioned relative to its first positioned (not static) ancestor element*/
  bottom: 0PX; /*property affects the vertical position of a positioned element*/
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  position: fixed;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
      bottom: 0;
      width: 100%;
      height: 55px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      display: flex;
      overflow-x: auto;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    z-index: 9999;
    float: left;
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #8E00FF;
    color: #ffffff;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
   display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.3em;
      color: #8E00FF;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.5s ease-in-out;
      margin:0;
  }


.navbar {display: none}

@media screen and (max-width: 1025px) {
  .logo {
          text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about img{
    display: none;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    float: none;
  }

  #aboutme{
    color:#ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    padding-top: 30px;
    padding-left: 0px;
  }
  
   header{     position:absolute; }
  .containerAbout{
  
    display: flex;
    margin: auto;
    overflow: auto;
  }
  
  
  #info{
    color:#e2e2e2;
    font-family: 'Alata', sans-serif;
    font-size: large;
    padding-left: 0px;
    margin:1em;
    padding-bottom: 50px;
    font-size: 1.5em;
  }
  
  #projects { padding-top: 20px;}
  #contact { padding-top: 70px;}
  #content-desktop {display: none !important;}
  .pagewrap {display: none !important;}
  .sidebar {display: none !important;}
  .nav {display: none !important;}
  nav {display: none !important;}

	.card {
  box-shadow: 0.1em 0.1em 0.1em #4a01862c;
}
	.cardAbout {
  box-shadow: 0.1em 0.1em 0.1em #4a01862c;
}
	
  .navbar {display:block;}
  .container {
    max-width: 1100px;
    margin: 1em;
    overflow: auto;
    padding: 0 2rem;
    padding-left: 0px;
    padding-right: 0px;
    }
    .card:nth-child(even) img {
      order: 2;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 0px;

    }
    .card:nth-child(odd) img {
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 0px;
    }
  footer {display: none;}
  }

#upButton{
  display:none;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
	weight:900;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
}

@media screen and (min-width: 1800px) {

  .about img{
    float:right;
    padding-left:200px;
    padding-right:150px;
    padding-top:250px;
  
  }
  
  #aboutme{
    color:#ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    padding-top: 150px;
    padding-left: 2em;
    margin:3em;
  }
  

  #info{
    color:#e2e2e2;
    font-family: 'Alata', sans-serif;
    font-size: large;
    padding-left: 4em;
    padding-bottom: 50px;
    font-size: 3em;
    margin:5em;
  }
}

@media screen and (min-width: 1600px) {
  . .about img{
    float:right;
    padding-left:200px;
    padding-right:150px;
    padding-top:250px;
  
  }
  
  #aboutme{
    color:#ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    padding-top: 150px;
    padding-left: 2em;
    margin:3em;
  }
  

  #info{
    color:#e2e2e2;
    font-family: 'Alata', sans-serif;
    font-size: large;
    padding-left: 3em;
    padding-bottom: 50px;
    font-size: 1.8em;
    margin:3em;
  }
}


@media screen and (min-width: 1600px) {
  .about img{
    float:right;
    padding-left:200px;
    padding-right:150px;
    padding-top:250px;
  
  }
  
  #aboutme{
    color:#ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    padding-top: 150px;
    padding-left: 2.2em;
    margin:4em;
  }
  

  #info{
    color:#e2e2e2;
    font-family: 'Alata', sans-serif;
    font-size: large;
    padding-left: 3em;
    padding-bottom: 50px;
    font-size: 1.8em;
    margin:4em;
  }

  .container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    padding-left: 20px;
  
  }
  .card {
  font-size: 1.5em;
  }

}

@media screen and (min-width: 1800px) {

  .container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    padding-left: 20px;
  
  }
  .card {
    font-size: 2em;
    }

  .about img{
    float:right;
    padding-left:200px;
    padding-right:150px;
    padding-top:250px;
  
  }
  
  #aboutme{
    color:#ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    padding-top: 150px;
    padding-left: 6em;
    margin:3em;
  }
  

  #info{
    color:#e2e2e2;
    font-family: 'Alata', sans-serif;
    font-size: large;
    padding-left: 4em;
    padding-right: 2.5em;
    padding-bottom: 50px;
    font-size: 2em;
    margin:5em;
  }
}

@media screen and (min-width: 2200px) {

  #aboutme{

    font-size: 3em;
    padding-top: 150px;
    padding-left: 3em;
    margin:3em;
  }

  #info{

    font-size: large;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 50px;
    font-size: 2.5em;
    margin:5em;
  }

  .card {
    font-size: 3em;
    }
    .cardAbout {
      font-size: 1.5em;
      }
    .container{
      max-width: 1700px;}
      .containerContact{  max-width: 1700px;}

}
